.btn-xs, .btn-group-xs > .btn {
    padding: 0.53rem 0.5rem;
    font-size: 0.8rem;
    line-height: 0.75;
    border-radius: 0.2rem;
}

.service-options {
    position: relative;
    z-index: 1000;
}

.service-name {
    position: relative;
    z-index: 2000;
}

#totalPrice {
    transition: all 0.5s ease;
}

#sidebar {
    transition: margin-top 0.1s ease;
}

.toast {
    top: 20px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 99999;
    width: 300px;
}

.sticky-popup,
.sticky-popup-visible {
    position: fixed;
    bottom: 10px;
    left: 50%; /* centrerar elementet horisontellt */
    transform: translateX(-50%); /* justerar för elementets egen bredd */
    padding: 10px 20px;
    z-index: 9999;
    display: none;
}

.sticky-popup-visible {
    display: block; /* visa när det är synligt */
}

#submitForm {
    z-index: 999999;
}

@media (max-width: 576px) { /* Bootstrap breakpoint för små enheter */
    .sticky-popup,
    .sticky-popup-visible {
        width: 95%; /* Sätt bredden till 95% */
        left: 2.5%; /* Centrerar elementet horisontellt (100% - 95%) / 2 = 2.5% på varje sida */
        transform: none; /* Eftersom vi använder procentuella värden för centreringsändamål, behöver vi inte transformera längre */
    }
}

/* Mobil enhet stil */
@media (max-width: 576px) { /* Bootstrap breakpoint för små enheter */
    .sticky-popup,
    .sticky-popup-visible {
        width: auto; /* Återställer bredden */
        margin-left: 20px; /* margin på vänster */
        margin-right: 20px; /* margin på höger */
    }
}

/* Desktop stil */
@media (min-width: 576px) { /* Bootstrap breakpoint för medelstora enheter och uppåt */
    .sticky-popup,
    .sticky-popup-visible {
        left: 50%; /* centrerar bar */
        transform: translateX(-50%); /* centrerar baserat på egen bredd */
        max-width: 540px; /* Bootstrap container bredd för medelstora enheter */
    }
}

@media (min-width: 768px) { /* Bootstrap breakpoint för medelstora enheter */
    .sticky-popup,
    .sticky-popup-visible {
        max-width: 720px; /* Bootstrap container bredd för medelstora enheter */
    }
}

@media (min-width: 992px) { /* Bootstrap breakpoint för stora enheter */
    .sticky-popup,
    .sticky-popup-visible {
        max-width: 960px; /* Bootstrap container bredd för stora enheter */
    }
}

@media (min-width: 1200px) { /* Bootstrap breakpoint för extra stora enheter */
    .sticky-popup,
    .sticky-popup-visible {
        max-width: 1140px; /* Bootstrap container bredd för extra stora enheter */
    }
}

@media (max-width: 576px) { /* Bootstrap breakpoint för små enheter */

    .go-forward-btn {
        padding: 0; /* Ta bort padding */
        width: 40px; /* Sätt en fast bredd */
        height: 40px; /* Sätt en fast höjd */
        border-radius: 50%; /* Gör knappen rund */
        text-align: center; /* Centrera ikonen */
    }

    .go-forward-btn .fa-angle-right {
        margin: 0; /* Ta bort marginal från ikonen */
    }

    .go-forward-btn span {
        display: none; /* Göm texten */
    }
}
